<div>
    <h1>Lyrical Visual</h1>
    <h2>Read lyrics in real time as a song plays on your Spotify</h2>

    <p>Start by connecting your Spotify account:</p>
    <a href="/login">Connect your Spotify</a>
    <p></p>
    <a href="/refresh">REFRESH</a>
</div>